:required {
  /*background: red;*/
}

input[type="text"] {
  color: #808589;
  text-align: center;
}
input[type=checkbox] {
display:none;
}

input[type=checkbox] + label
{
background: url(images/img_for_button.png) no-repeat;
background-size: 50%;
height: 50px;
width: 50px;
display:inline-block;
float: left;
padding: 0 0 0 0px;
transform: translate(0px, 6px);
}
input[type=checkbox]:checked + label
{
background: url(images/star-icon.png) no-repeat;
background-size: 50%;
height: 50px;
width: 50px;
float: left;
display:inline-block;
padding: 0 0 0 0px;
}
/*input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  background:url(images/img_for_button.png) no-repeat;
  zoom: 2.5;
  float: left;
}
input[type="checkbox"]:checked + label {
  background:url("http://bit.ly/2gb7rqz") no-repeat;
  zoom: 2.5;
  float: left;
}*/
form input {
  font-size: 18px
}
form button[type="submit"] {
  font-size: 18px;
  color: #808589;
  background: rgb(255, 255, 255);
  border: 2px solid #FFC56B;
  width: 100%;
}
button[type="submit"]:hover {
  border: 5px solid #FFC56B;
}
.songs-with-checkboxes li {
  position: relative;
}
body {
  color: #808589;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  height: 100%;
}
li {
  list-style-type: none;
}
#home-main-form {
  width: 70%;
  position: relative;
  bottom: 50%;
  margin: 0 auto;
  transform: translateY(80%);
}
#search-input {
  width: 85%;
  font-size: 500%;
  background: rgba(241, 246, 249, .8);
  border: none;
}
#home-main-form #search {
  border: none;
  float: right;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: rgb(86, 132, 174);
  color: white;
  font: 20px 'Open Sans', sans-serif;
}
#home-main-form #search:hover {
  transform: scale(1.1);
}
.artist-list {
  background: rgba(241, 246, 249, .8);
  width: 70%;
  position: relative;
  top: 100px;
  clear: both;
  margin: 0 auto;
  font-size: 30px;
}
.artist-song-list ul {
  background: rgba(241, 246, 249, .7);
  width: 70%;
  align-self: center;
}
.loading-text-area {
  background: rgba(241, 246, 249, .8);
  width: 70%;
  position: relative;
  top: 100px;
  clear: both;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
}
.loading-image {
  background: url(images/icon.png) no-repeat;
}
::-webkit-input-placeholder {
  text-align: center;
  color: #808589;
}
:-moz-placeholder {
  /* Firefox 18- */

  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */

  text-align: center;
  color: #808589;
}
:-ms-input-placeholder {
  text-align: center;
  color: #808589;
}
#sign-in {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(128, 133, 137);
  color: white;
  clear: left;
  font: 14px 'Open Sans', sans-serif;
  top: 15px;
  right: 90px;
  position: fixed;
  border: none;
}
#sign-in:hover {
  transform: scale(1.1);
}
#logout-image {
  max-width: 70px;
  position: fixed;
  top: 10px;
  right: 10px;
}
#saved-suggestion {
  max-width: 70px;
  position: fixed;
  top: 10px;
  right: 85px;
}
#welcome-back {
  position: fixed;
  top: 17px;
  right: 90px;
}
.register {
  position: fixed;
  top: 15px;
  right: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(86, 132, 174);
  color: white;
  clear: left;
  font: 14px 'Open Sans', sans-serif;
  position: fixed;
  border: none;
}
.register:hover {
  transform: scale(1.1);
}

.list {
  cursor: pointer;
}

.list:hover {
  color: rgb(86, 132, 174)
}

html {
  background: url(images/new.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
}
.wrap {
  color: white;
  background: rgb(117, 155, 176);
  font: 600 20px/22px 'Open Sans', sans-serif;
  text-align: center;
  float: right;
  line-height: 1.7em;
  margin: 10px;
  top: 100px;
  clear: both;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}
.form {
  padding: 30px 30px 30px 30px;
}
